<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
            http://maven.apache.org/SETTINGS/1.0.0
            https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>talend.oss.snapshots</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend.oss.releases</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>talend_nexus_deployment</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASSWORD}</password>
      <configuration>
        <timeout>30000</timeout>
      </configuration>
    </server>
    <server>
      <id>azure.account</id>
      <username>${env.AZURE_ACCOUNT_NAME}</username>
      <password>${env.AZURE_ACCOUNT_KEY}</password>
    </server>
    <server>
      <id>azure-dls-gen2.sas</id>
      <username>${env.AZURE_GEN2_SAS_USER}</username>
      <password>${env.AZURE_GEN2_SAS_SAS}</password>
    </server>
    <server>
      <id>azure-dls-gen2.sharedkey</id>
      <username>${env.AZURE_GEN2_SHAREDKEY_USER}</username>
      <password>${env.AZURE_GEN2_SHAREDKEY_KEY}</password>
    </server>
    <server>
      <id>marketo-nocrm</id>
      <username>${env.MARKETO_CLIENT_ID}</username>
      <password>${env.MARKETO_SECRET}</password>
    </server>
    <server>
      <id>marketo-nocrm-instance</id>
      <username>${env.MARKETO_INSTANCE}</username>
      <password></password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>maven_central_proxy</id>
      <name>Maven Central Proxy</name>
      <url>https://artifacts-zl.talend.com/nexus/content/repositories/central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
